
/* 
    Created on : Jul 20, 2014, 10:06:11 AM
    Author     : bcc
*/

/*
try to avoid universal selector. Performance issues
*
{
    background-color: green;
}

*/

/* Select all the elements that have 'role' attribute and make the font color yellow
*/

div[role]
{
    color: yellow;
}