
/* 
    Created on : Jul 20, 2014, 10:06:11 AM
    Author     : bcc
*/

/*
try to avoid universal selector. Performance issues
*
{
    background-color: green;
}

*/

/* Select all the elements that have 'role' attribute and make the font color yellow
*/

div[role]
{
    background-color: yellow;
}

/* Select all the elements that have 'role' and value = 'main' attribute and make the background color skyblue
*/

div[role='main']
{
   color: skyblue;
}

/* select all the li selements that are second child of their parents */

li:nth-child(2)
{
    background-color: red;
}

/* exercise */

li:nth-child(2n+1)
{
    background-color: green;
}

/* select all the a that are child of footer */

footer a{
    
    background-color: pink;
}

b~i{
    
    color: red;
}

#zen-summary
{
    color: red;
}

/* class example */

.danger {
    color: red;
    font-size: 30px;
}